services:
  # 1. Spring Boot API (GHCR에서 다운로드)
  api:
    build: .

    # 이미지명은 본인의 GitHub ID와 리포지토리 이름으로 수정 필수!
    image: ghcr.io/godqhrenf/log-api:latest
    container_name: log-api
    ports:
      - "8080:8080" # 외부 접속용 포트
    environment:
      # Docker Compose 내부에서는 서비스명('redis')이 곧 호스트명이 됨
      - SPRING_DATA_REDIS_HOST=redis
      - SPRING_DATA_REDIS_PORT=6379
    depends_on:
      - redis # Redis가 먼저 켜져야 API가 켜짐

  # 2. Redis (공식 이미지 사용)
  redis:
    image: redis:alpine
    container_name: log-redis
    # 로컬/테스트 용이므로 포트를 열어둠 (보안상 운영에선 닫거나 방화벽 필수)
    ports:
      - "6379:6379"
    command: redis-server /usr/local/etc/redis/redis.conf
    volumes:
      - ./redis/redis.conf:/usr/local/etc/redis/redis.conf # 설정 파일 마운트
      - ./redis-data:/data # 데이터 저장소 마운트
    restart: always

  # 3. InfluxDB (k6 결과 저장)
  influxdb:
    image: influxdb:1.8
    # k6 공식 대시보드 호환성을 위해 v1.8 버전을 사용
    # v2.x는 설정이 복잡하여 초기 학습용으로는 v1.8 사용 권장
    container_name: log-influxdb
    ports:
      - "8086:8086"
    environment:
      - INFLUXDB_DB=k6
    volumes:
      - ./influxdb-data:/var/lib/influxdb

  # 4. Grafana (시각화 도구)
  grafana:
    image: grafana/grafana:latest
    container_name: log-grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - ./grafana-data:/var/lib/grafana
    depends_on:
      - influxdb

  # 5. k6 (부하 테스트 실행기)
  # 이 컨테이너는 'docker compose up' 할 때 바로 실행되지 않고,
  # 우리가 필요할 때만 명령어로 실행하기 위해 설정만 해둠
  k6:
    image: grafana/k6:latest
    container_name: log-k6
    volumes:
      - ./k6-scripts:/scripts # 로컬의 스크립트 폴더를 컨테이너랑 공유
    # InfluxDB 주소를 환경변수로 등록해둠
    environment:
      - K6_OUT=influxdb=http://influxdb:8086/k6

  # Redis 지표 추출기
  redis-exporter:
    image: oliver006/redis_exporter:latest
    container_name: redis-exporter
    environment:
      - REDIS_ADDR=redis://${API_PRIVATE_IP}:6379 # API 서버의 Redis 주소
    ports:
      - "9121:9121"

  # 데이터 수집기 (Prometheus)
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"